table
{
	width:30%;
	height:50%;
   table-layout: fixed;
	background-color:#f2f2f2;
	border-collapse: collapse;

}
button
{
  display: block;
  width:100%;
  height:100%;
  border: none;
  background-color: #f2f2f2;
  padding: 50px 50px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}
input
{
  width:100%;
  height:100%;
  font-size:30px;
  font-style: bold;

}
body
{
	width:100%;
	height:100%;
  background-color: #e0e0d1;
}
h1
{
  color:#2e2e1f;
  text-align:center;
}
